/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
    text-align: center;
  margin-bottom: 15px;
}

section {
    position: relative;
    border: 1px solid black;
    width: 90%;
    height: 90%;
    left: 5%;
    margin-bottom: 10%;
    padding: 10px 10px 10px 10px;

  font-family: Arial, Helvetica, sans-serif;
  color: black;
    background-color: bisque;
}

.titleOfSection {
    border: 1px solid black;
    position: relative;
    left: 66.7%;
    width: 33.3%;
    height: 33.3%;
    padding: 10px 10px 10px 10px;
    margin-top: -10px;



    text-align: center;
    font-size: 1.25em;


}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
      float: left;
      width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
      float: left;
  }
  .col-md-6 {
      width: 50%;
  }
  .col-md-12 {
      width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .col-sm-12 {
      float: left;
      width: 100%;
  }
}